.register-form {
    border: solid .05rem rgb(95, 152, 228);
   // padding: 0 6rem 0 3rem;
    margin:10% 15%;

}

.alert-danger {
   padding: 3px;
   background: none;
   border: none;
   color: red;

}

.form-group{
    margin-bottom: 20px;
}